@charset "UTF-8";

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex-grow: 1;
}

.logo a {
  color: white;
  text-decoration: none;
}

.logo a:focus,
.logo a:active {
  color: white; /* Mantiene il colore bianco anche quando cliccato */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #333;
  color: white;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #444;
}

/* Stile per Registrati e Login */
.item {
  display: inline-block;
  margin-right: 15px; /* Spazio tra Registrati e Login */
}

.item:last-child {
  margin-right: 0; /* Rimuove il margine dall'ultimo elemento */
}

.item a {
  color: white;
  text-decoration: none;
  padding: 10px 16px;
  background-color: #444;
  border-radius: 5px;
}

.item a:hover {
  background-color: #555;
}

/* Impedisce il cambio di colore quando cliccato */
.item a:focus,
.item a:active {
  color: white;
  background-color: #444;
}
